<%= turbo_stream_from "carrier_quotation_#{dom_id(current_user)}"  %>

<div class="w-full -mt-14 px-6 py-6">
    <% content_for :title, "Carriers" %>

    <div class="flex justify-between items-center mb-6">
        <h1 class="font-bold text-4xl text-white drop-shadow-md">Quoter</h1>
        <%= link_to quotes_path, method: :post, data: { turbo_stream: true, turbo_action: "replace" }, class: "rounded-lg py-3 px-5 bg-gray-300 bg-opacity-30 text-white block font-medium flex items-center gap-2" do %>
        <i class="fa fa-dropbox"></i> Quote
        <% end %>
    </div>
</div>

<div id="carrier_quotation"></div>