<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50 hidden transition-opacity duration-300 opacity-0" data-controller="dialog" data-dialog-target="container">
    <div class="bg-white rounded-lg shadow-lg max-w-lg w-full transform transition-transform duration-300 scale-95" data-dialog-target="content">
        <!-- Header del Dialog -->
        <div class="flex justify-between items-center p-4 border-b">
            <h2 class="text-lg font-bold text-gray-800"><%= @title %></h2>
            <button class="text-gray-500 hover:text-gray-800" data-action="dialog#close">
                &times;
            </button>
        </div>

        <!-- Contenido del Dialog -->
        <div class="p-4 text-gray-700">
            <%= content %>
        </div>
    </div>
</div>